<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="close()">
    <span>Főoldal</span>
  </a>
  <a *ngIf="loggedIn && isAdmin" mat-list-item routerLink="/admin/users" (click)="close()">
    <span>Felhasználók</span>
  </a>
  <a *ngIf="loggedIn && isAdmin" mat-list-item routerLink="/admin/subjects" (click)="close()">
    <span>Tárgyak</span>
  </a>
  <a *ngIf="loggedIn && isStudent" mat-list-item routerLink="/student/available-subjects" (click)="close()">
    <span>Elérhető tárgyak</span>
  </a>
  <a *ngIf="loggedIn && isStudent" mat-list-item routerLink="/student/taken-courses" (click)="close()">
    <span>Felvett kurzusok</span>
  </a>
  <a *ngIf="loggedIn && isTeacher" mat-list-item routerLink="/teacher" (click)="close()">
    <span>Kurzusok</span>
  </a>
  <a *ngIf="loggedIn" mat-list-item routerLink="/profile" (click)="close()">
    <span>Profil</span>
  </a>
  <a *ngIf="!loggedIn" mat-list-item routerLink="/login" (click)="close()">
    <span>Bejelentkezés</span>
  </a>
</mat-nav-list>
