<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="close()">Főoldal</a>
  <ng-container *ngIf="loggedIn; else notLoggedInTemplateRef">
    <ng-container *ngIf="isAdmin">
      <a mat-list-item routerLink="/admin/users" (click)="close()">Felhasználók</a>
      <a mat-list-item routerLink="/admin/subjects" (click)="close()">Tárgyak</a>
    </ng-container>
    <ng-container *ngIf="isStudent">
      <a mat-list-item routerLink="/student/available-subjects" (click)="close()">Elérhető tárgyak</a>
      <a mat-list-item routerLink="/student/taken-courses" (click)="close()">Felvett kurzusok</a>
    </ng-container>
    <ng-container *ngIf="isTeacher">
      <a mat-list-item routerLink="/teacher/assigned-courses" (click)="close()">Kurzusok</a>
      <a mat-list-item routerLink="/profile" (click)="close()">Profil</a>
    </ng-container>
  </ng-container>
  <ng-template #notLoggedInTemplateRef>
    <a mat-list-item routerLink="/login" (click)="close()">Bejelentkezés</a>
  </ng-template>
</mat-nav-list>
