<h1 mat-dialog-title>Új kurzus hozzáadása</h1>
<form [formGroup]="createCourseForm" (ngSubmit)="createCourse()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Kapacitás:</mat-label>
      <input matInput id="name" type="number" formControlName="capacity">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tanár:</mat-label>
      <mat-select formControlName="teacherId">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let teacher of teachers"
                    value="{{ teacher.id }}">{{ teacher.name }} ({{ teacher.id }})</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nap:</mat-label>
      <mat-select formControlName="day">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let day of [1,2,3,4,5,6,7]"
                    value="{{ day }}">{{ day|dayFormat }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Kezdés:</mat-label>
      <input matInput id="startTime" type="time" formControlName="startTime">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Vége:</mat-label>
      <input matInput id="endTime" type="time" formControlName="endTime">
    </mat-form-field>

    <p *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </p>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="accent" type="submit">Létrehozás</button>
    <button mat-raised-button (click)="onCancel()">Mégse</button>
  </mat-dialog-actions>
</form>
