<h1 mat-dialog-title>Jelszó megváltoztatása</h1>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Régi jelszó:</mat-label>
      <input matInput id="oldPassword" type="password" formControlName="oldPassword">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Új jelszó:</mat-label>
      <input matInput id="password" type="password" formControlName="password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Új jelszó mégegyszer:</mat-label>
      <input matInput id="passwordAgain" type="password" formControlName="passwordAgain">
    </mat-form-field>

    <p *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </p>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-dialog-content>
  <mat-dialog-actions class="flex justify-end">
    <button mat-raised-button color="accent" type="submit">Mentés</button>
    <button mat-raised-button (click)="onCancel()">Mégse</button>
  </mat-dialog-actions>
</form>

