.role-cell {
  position: relative;
}

.edit-button {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: whitesmoke;
}

.mat-mdc-row:hover:hover .edit-button {
  display: inline-block;
}

.title-bar {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.title-bar h1 {
  font-weight: bold;
  margin: 0 10px;
}
