<div class="main_component">
  <div class="title-bar">
    <h1>Felvett kurzusok</h1>
    <button mat-icon-button matTooltip="Órarend"
            [matTooltipShowDelay]="1000"
            [routerLink]="['../timetable']">
      <mat-icon>calendar_month</mat-icon>
    </button>
  </div>
  <app-reusable-table
    [columns]="columns"
    [actionsTemplate]="actionsTemplate"
    [fetchData]="courseService.getTaken.bind(courseService)"></app-reusable-table>
  <ng-template #actionsTemplate let-element>
    <button mat-icon-button
            matTooltip="Részletek"
            [matTooltipShowDelay]="1000"
            (click)="onDetails(element)">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </ng-template>
</div>
