<h1 mat-dialog-title>{{ subject.name }} ({{ subject.id }}) szerkesztése</h1>
<form [formGroup]="editSubjectForm">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Név:</mat-label>
      <input matInput id="name" type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Típus:</mat-label>
      <mat-select formControlName="type">
        <mat-option>--</mat-option>
        <mat-option value="THEORY">Előadás</mat-option>
        <mat-option value="PRACTICE">Gyakorlat</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Kredit:</mat-label>
      <input matInput id="credit" type="number" formControlName="credit">
    </mat-form-field>

    <p *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </p>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="editSubject()">Mentés</button>
    <button mat-raised-button color="warn" (click)="deleteSubject()">Törlés</button>
    <button mat-raised-button (click)="onCancel()">Mégse</button>
  </mat-dialog-actions>
</form>
