<span class="loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
</span>

<div class="main_component">
  <div class="div-flex">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-card >
        <mat-card-header>
          <mat-card-title>Bejelentkezés</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>E-mail:</mat-label>
            <input matInput id="email" type="email" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Jelszó:</mat-label>
            <input matInput id="password" type="password" formControlName="password">
          </mat-form-field>
          <p *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </p>
        </mat-card-content>
        <mat-card-actions class="flex justify-end">
          <button mat-raised-button color="primary" type="submit">Bejelentkezés</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
