<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)"
              (onCloseSidenav)="onSidenavClose($event, sidenav)"
              [loggedIn]="loggedIn"
              [isAdmin]="isAdmin"
              [isStudent]="isStudent"
              [isTeacher]="isTeacher"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="block sm:hidden">
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">TR Demo</a>
      </div>
      <div class="hidden sm:flex flex-1 justify-end">
        <ul class="flex gap-4 navigation-items">
          <ng-container *ngIf="loggedIn; else notLoggedInTemplateRef">
            <ng-container *ngIf="isAdmin">
              <li><a routerLink="/admin/users">Felhasználók</a></li>
              <li><a routerLink="/admin/subjects">Tárgyak</a></li>
            </ng-container>
            <ng-container *ngIf="isStudent">
              <li><a routerLink="/student/available-subjects">Elérhető tárgyak</a></li>
              <li><a routerLink="/student/taken-courses">Felvett kurzusok</a></li>
            </ng-container>
            <ng-container *ngIf="isTeacher">
              <li><a routerLink="/teacher/assigned-courses">Kurzusok</a></li>
            </ng-container>
            <li><a routerLink="/profile">Profil</a></li>
          </ng-container>
          <ng-template #notLoggedInTemplateRef>
            <li><a routerLink="/login">Bejelentkezés</a></li>
          </ng-template>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
