<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" (onCloseSidenav)="onSidenavClose($event, sidenav)" [loggedIn]="loggedIn"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="block sm:hidden">
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">TR Demo</a>
      </div>
      <div class="hidden sm:flex flex-1 justify-end">
        <ul class="flex gap-4 navigation-items">
          <li *ngIf="loggedIn"><a routerLink="/">Keresés</a></li>
          <li *ngIf="loggedIn"><a routerLink="/">Foglalások</a></li>
          <li *ngIf="!loggedIn"><a routerLink="/">Profil</a></li>
          <li *ngIf="!loggedIn"><a routerLink="/login">Bejelentkezés</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
