.title-bar {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.title-bar h1 {
  font-weight: bold;
  margin: 0 10px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: whitesmoke;
}

.mat-mdc-row:hover .name-cell {
  text-decoration: underline;
}

.name-cell span {
  cursor: pointer;
}

.last-cell {
  position: relative;
}

.edit-button {
  display: none;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.mat-mdc-row:hover:hover .edit-button {
  display: flex;
}

