<div class="main_component">
  <div class="title-bar">
    <h1>Tárgyak</h1>
    <button mat-icon-button matTooltip="Új tárgy"
            [matTooltipShowDelay]="1000"
            (click)="openNewDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange()">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let subject">{{subject.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Név</th>
      <td mat-cell *matCellDef="let subject">{{subject.name}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Típus</th>
      <td mat-cell *matCellDef="let subject">{{subject.type | subjectTypeFormat }}</td>
    </ng-container>

    <ng-container matColumnDef="credit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kredit</th>
      <td mat-cell *matCellDef="let subject">{{subject.credit}}</td>
    </ng-container>

    <ng-container matColumnDef="nCourses">
      <th mat-header-cell *matHeaderCellDef>Kurzusok</th>
      <td mat-cell *matCellDef="let subject">{{subject.courses.length}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['./', row.id]"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="totalElements"
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 20, 50]"
                 showFirstLastButtons
                 (page)="onPageChange($event)"></mat-paginator>
</div>
