<table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange()">
  <ng-container *ngFor="let column of columns" [matColumnDef]="column.def">
    <ng-container *ngIf="column.sortable; else noSort">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</th>
    </ng-container>
    <ng-template #noSort>
      <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
    </ng-template>
    <td mat-cell *matCellDef="let element">{{ column.cell(element) }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="flex justify-end">
        <ng-container *ngTemplateOutlet="actionsTemplate; context: {$implicit: element}"></ng-container>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="totalElements"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               showFirstLastButtons
               (page)="onPageChange()"
               class="mb-5">
</mat-paginator>
