@use '@angular/material' as mat;

.title-bar {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.title-bar h1 {
  font-weight: bold;
  margin: 0 10px;
}

.title-bar h2 {
  font-weight: normal;
  margin: 0 10px;
}

.last-cell {
  position: relative;
}

.edit-button {
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.takenRow {
  background-color: beige;
}

mat-paginator {
  margin-bottom: 20px;
}

